/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* -------------------
    common styles 
------------------- */

body{
    font-family: 'Poppins', sans-serif
}



/* ------------------
    header style  
--------------------*/
header{
    background-color: 
    #264653;
}

/* nav style  */

.honda-login-button{
    background-color: #E76F51;
    width: 91px;
    height: 44px;
    border-radius: 5px;
    border: none;
    padding:10px, 24px, 10px, 24px;
    color: white;
    margin-left: 100px;
    font-weight: 500;
}
.honda-nav-ul a{
    font-size: 16px;
    margin-left: 36px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/* banner styles  */
.honda-banner-button{
    width: 168px;
    background-color: #E76F51;
    height: 44px;
    border-radius: 5px;
    border: none ;
    padding: 10px;
    color: white;
}
.honda-banner-text h1{
    width: 456px;
    font-size: 48px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 18px;
    margin-top: 24px;
}
.honda-banner-text p{
    width: 456px;
    color: #E0E0E0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 21px;
}
.honda-banner-text small{
    width: 480px;
    font-size: 14px;
    color: #FFFFFF;
}
.honda-banner-image img{
    width: 552px;
    margin-top: 69px;

}

/* ----------------------
    featured bike style 
------------------------ */
    .honda-featured-bike h1{
        font-size: 48px;
        font-weight: 600;
        margin-top: 64px;
        margin-bottom: 21px;
    }
    .honda-featured-bike p{
        font-size: 14px;
        color: #E76F51;
        font-weight: 600;
        margin-bottom: 3.5px;
    }
    .honda-featured-bike hr{
        /* width: 58.5px; */
        /* width: 100%;
        margin-left:  auto;
        height: 10px; */
        display: inline-block;
        height: 2px;
        width: 58.8px;
        color: red;
        /* border: 1px solid #e93d12; */
    }
    .feature-bike-parent-div{
        margin-top: 120px;
        margin-bottom: 165px;
    }
    .feature-bike-image-1 {
        width: 288px;
        mix-blend-mode: luminosity;
        
        
    }
    .feature-bike-image-2 {
        width: 288px;
       
    }
    .feature-bike-image-3 {
        width: 288px;
        mix-blend-mode: luminosity;
       
        
    }

/* -----------------
    Media Queries 
------------------- */
/* header  */
@media only screen and (max-width: 576px) {
    .honda-banner-image img{
        width: 321px;
        margin-top: 56px;
        margin-bottom: 34px;
    
    }
    .honda-banner-text h1{
        width: 310px;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .honda-banner-text p{
        width: 321px;
        color: #E0E0E0;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 24px;
    }
    .honda-banner-text small{
        width: 325px;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        margin-top: 50px;
    }
}

/* featured bike  */
@media only screen and (max-width: 576px) {
    .feature-bike-parent-div{
        margin-top: 120px;
        margin-bottom: 165px;
    }
    .feature-bike-image-1 {
        width: 288px;
        mix-blend-mode: luminosity;
        margin-bottom: 116px;
        margin-right: 35px;
        margin-left: 35px;
        
    }
    .feature-bike-image-2 {
        width: 288px;
        margin-bottom: 144px;
        margin-right: 35px;
        margin-left: 35px;
       
    }
    .feature-bike-image-3 {
        width: 288px;
        mix-blend-mode: luminosity;
        margin-right: 35px;
        margin-left: 35px;
        
    }
    .honda-featured-bike h1{
        font-size: 36px;
        font-weight: 600;
        margin-top: 107px;
        margin-bottom: 21px;
    }
    .honda-featured-bike p{
        font-size: 14px;
        color: #E76F51;
        font-weight: 600;
        margin-bottom: 3.5px;
    }
}
