/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* -------------------
    common styles 
------------------- */

body{
    font-family: 'Poppins', sans-serif
}
html{
    scroll-behavior: smooth;
}



/* ------------------
    header style  
--------------------*/
header{
    background-color: 
    #264653;
    width: 100%;
}

/* nav style  */

.honda-login-button{
    background-color: #E76F51;
    width: 91px;
    height: 44px;
    border-radius: 5px;
    border: none;
    padding:10px, 24px, 10px, 24px;
    color: white;
    margin-left: 100px;
    font-weight: 500;
}
.honda-nav-ul a{
    font-size: 16px;
    margin-left: 36px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/* banner styles  */
.honda-banner-button{
    width: 168px;
    background-color: #E76F51;
    height: 44px;
    border-radius: 5px;
    border: none ;
    padding: 10px;
    color: white;
}
.honda-banner-text h1{
    width: 456px;
    font-size: 48px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 18px;
    margin-top: 24px;
}
.honda-banner-text p{
    width: 456px;
    color: #E0E0E0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 21px;
}
.honda-banner-text small{
    width: 480px;
    font-size: 14px;
    color: #FFFFFF;
}
.honda-banner-image img{
    width: 552px;
    margin-top: 69px;

}

/* ----------------------
    featured bike style 
------------------------ */
    .honda-featured-bike h1{
        font-size: 48px;
        font-weight: 600;
        margin-top: 64px;
        margin-bottom: 21px;
    }
    .honda-featured-bike p{
        font-size: 14px;
        color: #E76F51;
        font-weight: 600;
        margin-bottom: 3.5px;
    }
    .honda-featured-bike hr{
        /* width: 58.5px; */
        /* width: 100%;
        margin-left:  auto;
        height: 10px; */
        display: inline-block;
        height: 2px;
        width: 58.8px;
        color: red;
        /* border: 1px solid #e93d12; */
    }
    .feature-bike-parent-div{
        margin-top: 120px;
        margin-bottom: 165px;
    }
    .feature-bike-image-1 {
        width: 288px;
        mix-blend-mode: luminosity;
        
        
    }
    .feature-bike-image-2 {
        width: 288px;
       
    }
    .feature-bike-image-3 {
        width: 288px;
        mix-blend-mode: luminosity;
       
        
    }

 /*------------------
     latest news style 
----------------------*/
    .honda-latest-news h2{
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 47px;
    }
    .honda-latest-news{
        margin-bottom: 160px;
    }

    .honda-latest-news-button{
        width: 160px;
        height: 57px;
        border-radius: 5px;
        border: 1px solid #E76F51;
        padding: 15px;
        background-color: #E76F51;
        color: #FFFFFF;
        cursor: pointer;
    }
    .honda-latest-news-button:hover{
        background-color: transparent;
        color: #E76F51 ;
        transition: all .3s ease ;
    }   
    .honda-latest-news-card img{
        width: 330px;
        border-radius: 10px;
        /* padding: 20px; */
        /* margin: 40px 0px; */
    }
    .honda-latest-news-card {
        width: 370px;
        height: 579px;
        border-radius: 5px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        /* margin: 0px 20px; */
        padding: 20px;
    }
    .honda-latest-news-card-body p{
        width: 294px;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        color: #6C6C6C;
        text-align: justify;
    }
    .honda-latest-news-card-body{
        padding-right: 5px;
       
    }
    .honda-latest-news-card h5{
        font-size: 28px;
        width: 337px;
        font-weight: 600;
        line-height: 40px;
        color: #18191F;
    }

/*----------------------
     Honda client style 
------------------------- */
.honda-client h2{
    font-size: 48px;
    line-height: 72px;
    font-weight: 600;
    margin-bottom: 52px;
}
.honda-client span{
    color: #E76F51;
}
.honda-clinet-card{
    width: 350px;
    height: 530px;
    align-items: center;
    padding: 40px 35px;
    background: #FFFFFF;
border: 1px solid #DEDEDE;
box-sizing: border-box;
border-radius: 5px;
}
.honda-clinet-card img{
    width: 149px;
    margin-bottom: 30px;
}

.starts i{
    color: #E77C40;
    width: 22px;
    height: 22px;
    margin: 16px 3px;

}
.honda-client-card-small-text-1{
    color: #23A6F0;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 15px;
}
.honda-client-card-small-text-2{
    font-size: 14px;
    font-weight: 600;
    color: #252B42;
    display: block;
    margin-bottom: 40px;
}
.honda-client-card-text{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
}
.honda-client-image-3{
    border-radius: 50%;
    width: 149px;
    height: 149px;
    margin-bottom: 57px !important;
}

/* -----------------
    F.A.Q styles 
------------------ */
.honda-FAQ-section{
    margin-top: 158px;
    margin-bottom: 139px;
}
.honda-FAQ-section h3{
    /* width: 678px; */
    font-size: 48px;
    font-weight: 600;
    /* margin-top: 158px; */
    margin-bottom: 112px;
}
.honda-FAQ-section span{
    color: #E76F51;
}
.honda-FAQ-img{
    width: 431px;
    height: 423px;
}
.honda-FAQ-accordian{
    border:  1px solid #D5E5FB;
    margin-top: 20px;
}

/* --------------------
    contact us Styles 
---------------------- */
.honda-contact-button{
    width: 140px;
        height: 57px;
        border-radius: 5px;
        border: 2px solid #E76F51;
        padding: 15px;
        background-color: #E76F51;
        color: #FFFFFF;
        cursor: pointer;
}
.honda-contact-button:hover{
    background-color: transparent;
    color: #E76F51;
    transition: all .3s ease;
}





/* -----------------
    Media Queries 
------------------- */
/* header  */
@media only screen and (max-width: 576px) {
    .honda-banner-image img{
        width: 321px;
        margin-top: 56px;
        margin-bottom: 34px;
    
    }
    .honda-banner-text h1{
        width: 310px;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .honda-banner-text p{
        width: 321px;
        color: #E0E0E0;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 24px;
    }
    .honda-banner-text small{
        width: 325px;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        margin-top: 50px;
    }
}

/* featured bike  */
@media only screen and (max-width: 576px) {
    .feature-bike-parent-div{
        margin-top: 120px;
        margin-bottom: 165px;
    }
    .feature-bike-image-1 {
        width: 288px;
        mix-blend-mode: luminosity;
        margin-bottom: 116px;
        margin-right: 35px;
        margin-left: 35px;
        
    }
    .feature-bike-image-2 {
        width: 288px;
        margin-bottom: 144px;
        margin-right: 35px;
        margin-left: 35px;
       
    }
    .feature-bike-image-3 {
        width: 288px;
        mix-blend-mode: luminosity;
        margin-right: 35px;
        margin-left: 35px;
        
    }
    .honda-featured-bike h1{
        font-size: 36px;
        font-weight: 600;
        margin-top: 107px;
        margin-bottom: 21px;
    }
    .honda-featured-bike p{
        font-size: 14px;
        color: #E76F51;
        font-weight: 600;
        margin-bottom: 3.5px;
    }
}
/* latest News */
@media only screen and (max-width: 576px) {
    .honda-latest-news-card {
        width: 340px;
        height: 506px;
        border-radius: 5px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        /* margin: 0px 20px; */
        padding: 20px;
    }
    .honda-latest-news-card img{
        width: 294px;
        border-radius: 10px;
        margin-bottom: 15px;
        /* padding: 20px; */
        /* margin: 40px 0px; */
    }
    .honda-latest-news-card h5{
        font-size: 24px;
        width: 294px;
        font-weight: 600;
        line-height: 40px;
        color: #18191F;
    }
    .honda-latest-news-card-body p{
        width: 294px;
        font-size: 13px;
        padding-right: 5px;
    }
    .honda-latest-news-button{
        width: 139px;
        height: 57px;
        padding: 13px;
        /* margin-top: 20px; */
        margin-left: 12px;
    }
    .honda-latest-news h2{
        font-size: 36px;
        width: 219px;
        font-weight: 600;
        margin-bottom: 42px;
    }
    .honda-latest-news{
        margin-bottom: 160px;
    }
}

/* honda client  */
@media only screen and (max-width: 576px) {
    .honda-client h2{
        font-size: 40px;
        line-height: 54px;
        /* width: 220px; */
        /* align-items: center; */
        font-weight: 600;
        margin-bottom: 52px;
    }
    
}

/* F.A.Q  */

@media only screen and (max-width: 576px) {
    .honda-FAQ-section h3{
        font-size: 36px;
        font-weight: 600;
        /* margin-top: 158px; */
        margin-bottom: 23px;
    }
    .honda-FAQ-section{
        margin-top: 66px;
        margin-bottom: 139px;
    }
   
    .honda-FAQ-img{
        width: 274px;
        height: 269px;
        margin-bottom: 67px;
        /* margin: 0 auto; */
        margin-left: 2rem;
    }
    
}